In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
restaurants = pd.read_csv("C:/Users/wjddu/git/BIgData/Find_DataSet/The current status of restaurants in Cheongju/The current status of restaurants in Cheongju.csv")
print(restaurants)

        연번    업종명         업소명                     소     재     지  \
0        1  일반음식점     삼미투가리백숙           청주시 흥덕구 예체로 157-1 (봉명동)
1        2  일반음식점        흥부찜닭             청주시 흥덕구 성봉로 291 (복대동)
2        3  일반음식점        신토불이              청주시 흥덕구 천석로 73 (봉명동)
3        4  일반음식점       정원보양촌             청주시 흥덕구 비하로 7-1 (비하동)
4        5  일반음식점          머슴             청주시 흥덕구 사운로 240 (운천동)
...    ...    ...         ...                               ...
3455  3456  일반음식점       수자네포차     청주시 흥덕구 흥덕로161번길 12 (운천동  1층)
3456  3457  일반음식점  카툰앤북카페 아지트     청주시 흥덕구 대농로 70  3층 301호 (복대동)
3457  3458  일반음식점    캠토청주충북대점      청주시 흥덕구 내수동로34번길 4  1층 (복대동)
3458  3459  일반음식점        교촌치킨           청주시 흥덕구 충대로 5  1층 (복대동)
3459  3460  일반음식점         피자퀸   청주시 흥덕구 직지대로753번길 24 (운천동 (1층))

                전화번호
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
...              ...
3455  070 -8285-0062
3456  070 -8654-4139
3457  070 -8811-1217
3458  073 -273 -9989
3459    043-264-6060

[3460 rows x 5 columns]

In [5]:
restaurants.head()

   연번    업종명      업소명             소     재     지 전화번호
0   1  일반음식점  삼미투가리백숙   청주시 흥덕구 예체로 157-1 (봉명동)  NaN
1   2  일반음식점     흥부찜닭     청주시 흥덕구 성봉로 291 (복대동)  NaN
2   3  일반음식점     신토불이      청주시 흥덕구 천석로 73 (봉명동)  NaN
3   4  일반음식점    정원보양촌     청주시 흥덕구 비하로 7-1 (비하동)  NaN
4   5  일반음식점       머슴     청주시 흥덕구 사운로 240 (운천동)  NaN

In [6]:
restaurants.tail()

,연번,업종명,업소명,소 재 지,전화번호
3455,3456,일반음식점,수자네포차,청주시 흥덕구 흥덕로161번길 12 (운천동 1층),070 -8285-0062
3456,3457,일반음식점,카툰앤북카페 아지트,청주시 흥덕구 대농로 70 3층 301호 (복대동),070 -8654-4139
3457,3458,일반음식점,캠토청주충북대점,청주시 흥덕구 내수동로34번길 4 1층 (복대동),070 -8811-1217
3458,3459,일반음식점,교촌치킨,청주시 흥덕구 충대로 5 1층 (복대동),073 -273 -9989
3459,3460,일반음식점,피자퀸,청주시 흥덕구 직지대로753번길 24 (운천동 (1층)),043-264-6060

In [7]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3460 entries, 0 to 3459
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   연번             3460 non-null   int64
 1   업종명            3460 non-null   object
 2   업소명            3460 non-null   object
 3   소     재     지  3460 non-null   object
 4   전화번호           2535 non-null   object
dtypes: int64(1), object(4)
memory usage: 135.3+ KB

In [8]:
restaurants.shape

(3460, 5)

In [9]:
restaurants.columns

Index(['연번', '업종명', '업소명', '소     재     지', '전화번호'], dtype='object')

In [10]:
restaurants.describe()

                연번
count  3460.000000
mean   1730.500000
std     998.960293
min       1.000000
25%     865.750000
50%    1730.500000
75%    2595.250000
max    3460.000000

In [18]:
 restaurants[restaurants['업종명'] == '일반음식점'].head(3)

   연번    업종명      업소명             소     재     지 전화번호
0   1  일반음식점  삼미투가리백숙   청주시 흥덕구 예체로 157-1 (봉명동)  NaN
1   2  일반음식점     흥부찜닭     청주시 흥덕구 성봉로 291 (복대동)  NaN
2   3  일반음식점     신토불이      청주시 흥덕구 천석로 73 (봉명동)  NaN

In [19]:
restaurants.dropna(axis=1)

        연번    업종명         업소명                     소     재     지
0        1  일반음식점     삼미투가리백숙           청주시 흥덕구 예체로 157-1 (봉명동)
1        2  일반음식점        흥부찜닭             청주시 흥덕구 성봉로 291 (복대동)
2        3  일반음식점        신토불이              청주시 흥덕구 천석로 73 (봉명동)
3        4  일반음식점       정원보양촌             청주시 흥덕구 비하로 7-1 (비하동)
4        5  일반음식점          머슴             청주시 흥덕구 사운로 240 (운천동)
...    ...    ...         ...                               ...
3455  3456  일반음식점       수자네포차     청주시 흥덕구 흥덕로161번길 12 (운천동  1층)
3456  3457  일반음식점  카툰앤북카페 아지트     청주시 흥덕구 대농로 70  3층 301호 (복대동)
3457  3458  일반음식점    캠토청주충북대점      청주시 흥덕구 내수동로34번길 4  1층 (복대동)
3458  3459  일반음식점        교촌치킨           청주시 흥덕구 충대로 5  1층 (복대동)
3459  3460  일반음식점         피자퀸   청주시 흥덕구 직지대로753번길 24 (운천동 (1층))

[3460 rows x 4 columns]

In [20]:
restaurants.isnull().sum()

연번                 0
업종명                0
업소명                0
소     재     지      0
전화번호             925
dtype: int64