In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1 -2.201180
1   2 -0.031804
2   3 -0.589855
3   4  0.128318
4   5  0.399828
5   6 -0.136575
6   7 -1.169266
7   8 -0.263418
8   9 -0.485817
9  10 -1.212595

In [3]:
# 새로운 column 생성
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -2.201180  0.000000
1  2 -0.031804  0.693147
2  3 -0.589855  1.098612
3  4  0.128318  1.386294
4  5  0.399828  1.609438

In [4]:
# 새로운 column 만들기 방법
df.ln_A = np.log(df.A)
df

<ipython-input-4-5c459402be06>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.ln_A = np.log(df.A)

    A         B
0   1 -2.201180
1   2 -0.031804
2   3 -0.589855
3   4  0.128318
4   5  0.399828
5   6 -0.136575
6   7 -1.169266
7   8 -0.263418
8   9 -0.485817
9  10 -1.212595

In [5]:
# 첫 번째 파라미터는 column 명
# 두 번째 파라미터는 bucket 수 만큼 bin column  생성
# 카테고리로 나눌 수 있음
pd.qcut(df.B, 2, labels=["good", "bad"])

0    good
1     bad
2    good
3     bad
4     bad
5     bad
6    good
7     bad
8    good
9    good
Name: B, dtype: category
Categories (2, object): ['good' < 'bad']

In [6]:
# 최대값 찾기
# axis 0이면 row, axis 1이면 column
df.max(axis=0)

A    10.000000
B     0.399828
dtype: float64

In [7]:
# 최소값 찾기
# axis 0이면 row, axis 1이면 column
df.min(axis=0)

A    1.00000
B   -2.20118
dtype: float64

In [11]:
# 범위 지정으로 보여줌
df["A"].clip(lower=1,upper=3)

0    1
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64

In [9]:
# 절대값으로 보여줌
df["B"].abs()

0    2.201180
1    0.031804
2    0.589855
3    0.128318
4    0.399828
5    0.136575
6    1.169266
7    0.263418
8    0.485817
9    1.212595
Name: B, dtype: float64