In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5]],
                  columns=list('ABCD'))
df

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [3]:
# 결측치 부분 drop
# axis가 1이면 column, axis가 0이면 row
# how는 어느 만큼 일 때를 나타냄 any는 하나라도 있으면, all은 모두 일 때
df.dropna(axis=1, how='any')

   D
0  0
1  1
2  5

In [4]:
df.dropna(axis=0, how='all')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [5]:
# 결측치 부분 채우기
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [6]:
# 특정 값으로 결측치 부분 채우기
values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [8]:
fill_na_value = df['D'].max()
fill_na_value

5

In [9]:
# 특정 연산 값으로 결측치 채우기
df.fillna(fill_na_value)

     A    B    C  D
0  5.0  2.0  5.0  0
1  3.0  4.0  5.0  1
2  5.0  5.0  5.0  5

In [10]:
# 결측치 부분 개수
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [11]:
# 결측치 아닌 부분 개수
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64