In [1]:
import numpy as np
import pandas as pd

In [6]:
import os
GDP = pd.read_csv("C:/Users/wjddu/git/BIgData/Find_DataSet/Dataset of worldwide GDP during Covid Pandemic 2020/Dataset of worldwide GDP during Covid Pandemic 2020.csv")
print(GDP)

                 Country Nominal_gdp_p_capita  PPP_gdp_p_capita  \
0            Afghanistan                  581            2390.0
1                Albania                 5287           14218.0
2                Algeria                 3263           11112.0
3                 Angola                 2012            6932.0
4    Antigua and Barbuda                14168           18618.0
..                   ...                  ...               ...
189              Vietnam                 3499           10869.0
190           Pallestine                 3042            5388.0
191                Yemen                  620            1927.0
192               Zambia                  981            3342.0
193             Zimbabwe                 1385            2622.0

     GDP_growth_percentage   Rise_fall_GDP
0                   -5.000     medium fall
1                   -3.500     medium fall
2                   -5.992     medium fall
3                   -3.975     medium fall
4                  -17.273  very high fall
..                     ...             ...
189                  2.906      short rise
190                -10.960       High fall
191                 -5.000     medium fall
192                 -3.497     medium fall
193                 -8.002       High fall

[194 rows x 5 columns]

In [7]:
GDP.head()

,Country,Nominal_gdp_p_capita,PPP_gdp_p_capita,GDP_growth_percentage,Rise_fall_GDP
0,Afghanistan,581,2390.0,-5.000,medium fall
1,Albania,5287,14218.0,-3.500,medium fall
2,Algeria,3263,11112.0,-5.992,medium fall
3,Angola,2012,6932.0,-3.975,medium fall
4,Antigua and Barbuda,14168,18618.0,-17.273,very high fall

In [8]:
GDP.tail()

,Country,Nominal_gdp_p_capita,PPP_gdp_p_capita,GDP_growth_percentage,Rise_fall_GDP
189,Vietnam,3499,10869.0,2.906,short rise
190,Pallestine,3042,5388.0,-10.960,High fall
191,Yemen,620,1927.0,-5.000,medium fall
192,Zambia,981,3342.0,-3.497,medium fall
193,Zimbabwe,1385,2622.0,-8.002,High fall

In [9]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                194 non-null    object
 1   Nominal_gdp_p_capita   193 non-null    object
 2   PPP_gdp_p_capita       193 non-null    float64
 3   GDP_growth_percentage  193 non-null    float64
 4   Rise_fall_GDP          193 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [11]:
GDP.shape

(194, 5)

In [13]:
GDP.columns

Index(['Country', 'Nominal_gdp_p_capita', 'PPP_gdp_p_capita',
       'GDP_growth_percentage', 'Rise_fall_GDP'],
      dtype='object')

In [12]:
GDP.describe()

       PPP_gdp_p_capita  GDP_growth_percentage
count        193.000000             193.000000
mean       20420.414508              -5.401249
std        21121.015845               8.701537
min          760.000000             -59.719000
25%         5036.000000              -7.571000
50%        12881.000000              -4.180000
75%        30178.000000              -1.282000
max       118002.000000              43.384000

In [22]:
 GDP[GDP['Rise_fall_GDP'] == 'High fall'].head(3)

,Country,Nominal_gdp_p_capita,PPP_gdp_p_capita,GDP_growth_percentage,Rise_fall_GDP
5,Argentina,8555,20751.0,-9.956,High fall
6,Armenia,4155,13261.0,-7.571,High fall
9,Austria,48154,55218.0,-6.590,High fall

In [19]:
GDP.dropna(axis=1)

                 Country
0            Afghanistan
1                Albania
2                Algeria
3                 Angola
4    Antigua and Barbuda
..                   ...
189              Vietnam
190           Pallestine
191                Yemen
192               Zambia
193             Zimbabwe

[194 rows x 1 columns]

In [16]:
GDP.isnull().sum()

Country                  0
Nominal_gdp_p_capita     1
PPP_gdp_p_capita         1
GDP_growth_percentage    1
Rise_fall_GDP            1
dtype: int64